<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <center>
    <h4>Welcome,
      <%= name %>
    </h4>
    <p>
      <%= date %>
    </p>


    <table>
      <tr>
        <th>1</th>
      </tr>
      <tr>
        <th>2</th>
      </tr>
      <tr>
        <th>3</th>
      </tr>
      <tr>
        <td>apple</td>
      </tr>
      <tr>
        <td>b</td>
      </tr>
      <tr>
        <td>c</td>
      </tr>
    </table>

  </center>
</body>

</html>