<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./ttt/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./ttt/css/style.css">
  <title>Index</title>
</head>

<body>
  <div class="container-fluid" style="height:100%">
    <div class="row" style="position: relative; top: 25%;">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">

          <form action="" method="post">
            <div class="form-group">
              <label for="name">Your Name:</label>
              <input class="form-control" type="text" id="name" name="name">
            </div>
          
            <button class="btn btn-primary center" type="submit">Login</button>
          </form>

      </div>
      <div class="col-sm-5"></div>
    </div>
  </div>
</body>

</html>
